In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats.contingency import association
from scipy.stats import chi2_contingency
from sklearn.model_selection import train_test_split
import plotly.express as px

%matplotlib inline

In [6]:
file_path = "../data/raw/ds_salaries.csv"

In [7]:
#df1 = pd.read_csv(file_path + "ds_salaries.csv")
#df2 = pd.read_csv("../ds_salaries_2022.csv", index_col=0)

In [11]:
!pwd

/Users/sergiopizzolante/Desktop/Ironhack/FinalProject/project_folder

In [8]:
df_pls = pd.read_csv(file_path)

FileNotFoundError: [Errno 2] No such file or directory: '../data/raw/ds_salaries.csv'

In [ ]:
df1.shape

In [ ]:
df2.shape

In [ ]:
df = pd.concat([df1, df2], ignore_index=True)

In [ ]:
#df.head()

In [ ]:
df.isna().sum()

In [ ]:
df1.duplicated().sum()

In [ ]:
df2.duplicated().sum()

In [ ]:
df.describe()

In [ ]:
duplicate_rows = df[df.duplicated()]
duplicate_rows.head(10)
#print(len(duplicate_rows))

In [ ]:
#df_no_dup = df.drop_duplicates(keep='last')

In [ ]:
#df_no_dup.shape

In [ ]:
df['work_year'].value_counts()

In [ ]:
sns.histplot(df['experience_level'], bins=4, kde=False)
plt.title('Experience Level Distribution')
plt.xlabel('Experience Level')
plt.ylabel('Frequency')
plt.show()

In [ ]:
sns.histplot(df['company_size'], bins=3, kde=False)
plt.title('Company Size Distribution')
plt.xlabel('Company Size')
plt.ylabel('Frequency')
plt.show()

In [ ]:
sns.histplot(df['employment_type'], bins=4, kde=False)
plt.title('Employment Type Distribution')
plt.xlabel('Employment Type')
plt.ylabel('Frequency')
plt.show()

In [ ]:
df['company_location'].value_counts()

In [ ]:
df = df[df['employment_type'] == 'FT']

In [ ]:
america_df = df[df['company_location'] == 'US']

In [ ]:
sns.histplot(df['employment_type'], bins=4, kde=False)
plt.title('Employment Type Distribution')
plt.xlabel('Employment Type')
plt.ylabel('Frequency')
plt.show()

In [ ]:
sns.histplot(df['company_location'].head(), bins=4, kde=False)
plt.title('Company Location Distribution')
plt.xlabel('Company Location')
plt.ylabel('Frequency')
plt.show()

In [ ]:
df.drop(columns=['employment_type'], inplace=True)

In [ ]:
sns.boxplot(x='salary_in_usd', data=df)
plt.title('Salary in USD distribution')
plt.xlabel('Salary in USD')
plt.show()

In [ ]:
sns.boxplot(x='work_year', y='salary_in_usd', data=df)
plt.title('Salary in USD distribution by Work Year')
plt.xlabel('Work Year')
plt.ylabel('Salary in USD')
plt.show()

In [ ]:
df['job_title'].unique()

In [ ]:
job_categories = {
    "Principal Data Scientist": "Data Science & Machine Learning",
    "ML Engineer": "Data Science & Machine Learning",
    "Data Scientist": "Data Science & Machine Learning",
    "Applied Scientist": "Data Science & Machine Learning",
    "Research Scientist": "Data Science & Machine Learning",
    "Applied Machine Learning Engineer": "Data Science & Machine Learning",
    "Machine Learning Researcher": "Data Science & Machine Learning",
    "Machine Learning Scientist": "Data Science & Machine Learning",
    "Applied Machine Learning Scientist": "Data Science & Machine Learning",
    "Deep Learning Researcher": "Data Science & Machine Learning",
    "Machine Learning Infrastructure Engineer": "Data Science & Machine Learning",
    "NLP Engineer": "Data Science & Machine Learning",
    "Machine Learning Research Engineer": "Data Science & Machine Learning",
    "Principal Machine Learning Engineer": "Data Science & Machine Learning",
    "Machine Learning Manager": "Data Science & Machine Learning",
    "Lead Machine Learning Engineer": "Data Science & Machine Learning",
    "Machine Learning Developer": "Data Science & Machine Learning",
    "Data Analyst": "Data Analysis & Analytics",
    "Analytics Engineer": "Data Analysis & Analytics",
    "Data Analytics Manager": "Data Analysis & Analytics",
    "Business Data Analyst": "Data Analysis & Analytics",
    "Staff Data Analyst": "Data Analysis & Analytics",
    "Lead Data Analyst": "Data Analysis & Analytics",
    "BI Data Analyst": "Data Analysis & Analytics",
    "Insight Analyst": "Data Analysis & Analytics",
    "BI Analyst": "Data Analysis & Analytics",
    "Data Analytics Specialist": "Data Analysis & Analytics",
    "Data Analytics Lead": "Data Analysis & Analytics",
    "Product Data Analyst": "Data Analysis & Analytics",
    "Marketing Data Analyst": "Data Analysis & Analytics",
    "Finance Data Analyst": "Data Analysis & Analytics",
    "Data Modeler": "Data Engineering & Infrastructure",
    "Data Engineer": "Data Engineering & Infrastructure",
    "ETL Engineer": "Data Engineering & Infrastructure",
    "Data DevOps Engineer": "Data Engineering & Infrastructure",
    "Big Data Engineer": "Data Engineering & Infrastructure",
    "Cloud Database Engineer": "Data Engineering & Infrastructure",
    "Data Infrastructure Engineer": "Data Engineering & Infrastructure",
    "Software Data Engineer": "Data Engineering & Infrastructure",
    "Data Operations Engineer": "Data Engineering & Infrastructure",
    "Cloud Data Engineer": "Data Engineering & Infrastructure",
    "ETL Developer": "Data Engineering & Infrastructure",
    "Cloud Data Architect": "Data Engineering & Infrastructure",
    "Lead Data Engineer": "Data Engineering & Infrastructure",
    "Principal Data Engineer": "Data Engineering & Infrastructure",
    "Staff Data Scientist": "Data Engineering & Infrastructure",
    "Business Intelligence Engineer": "Business Intelligence (BI)",
    "BI Data Engineer": "Business Intelligence (BI)",
    "BI Developer": "Business Intelligence (BI)",
    "Head of Data Science": "Business Intelligence (BI)",
    "BI Data Analyst": "Business Intelligence (BI)",
    "Power BI Developer": "Business Intelligence (BI)",
    "Data Strategist": "Data Management",
    "Director of Data Science": "Data Management",
    "Head of Data": "Data Management",
    "Data Science Manager": "Data Management",
    "Data Manager": "Data Management",
    "Manager Data Management": "Data Management",
    "Data Management Specialist": "Data Management",
    "MLOps Engineer": "Artificial Intelligence (AI)",
    "Computer Vision Engineer": "Artificial Intelligence (AI)",
    "Computer Vision Software Engineer": "Artificial Intelligence (AI)",
    "3D Computer Vision Researcher": "Artificial Intelligence (AI)",
    "AI Developer": "Artificial Intelligence (AI)",
    "AI Scientist": "Artificial Intelligence (AI)",
    "Head of Machine Learning": "Artificial Intelligence (AI)",
    "AI Programmer": "Artificial Intelligence (AI)",
    "Data Quality Analyst": "Data Management",
    "Compliance Data Analyst": "Data Management",
    "Autonomous Vehicle Technician": "Data Management",  # Assumed mapping due to similarity
    "Applied Machine Learning Scientist": "Data Science & Machine Learning",  # Assumed mapping
    "Lead Data Scientist": "Data Science & Machine Learning",  # Assumed mapping
    "Data Architect": "Data Engineering & Infrastructure",  # Assumed mapping
    "Finance Data Analyst": "Data Analysis & Analytics",  # Duplicate mapping
    "Data Lead": "Data Management",  # Assumed mapping
    "Data Science Engineer": "Data Engineering & Infrastructure",  # Assumed mapping
    "Data Science Lead": "Data Science & Machine Learning",  # Assumed mapping
    "Deep Learning Engineer": "Data Science & Machine Learning",  # Assumed mapping
    "Machine Learning Software Engineer": "Data Science & Machine Learning",  # Assumed mapping
    "Big Data Architect": "Data Engineering & Infrastructure",  # Assumed mapping
    "Cloud Database Engineer": "Data Engineering & Infrastructure",  # Duplicate mapping
    "Data Analytics Engineer": "Data Analysis & Analytics",  # Assumed mapping
    "Data Management Specialist": "Data Management",  # Duplicate mapping
    "Data Scientist Lead": "Data Science & Machine Learning",  # Assumed mapping
    "Cloud Data Engineer": "Data Engineering & Infrastructure",  # Duplicate mapping
    "Data Operations Analyst": "Data Engineering & Infrastructure",  # Assumed mapping
    "Marketing Data Analyst": "Data Analysis & Analytics",  # Duplicate mapping
    "Power BI Developer": "Business Intelligence (BI)",  # Duplicate mapping
    "Product Data Scientist": "Data Management",  # Duplicate mapping
    "Financial Data Analyst": "Data Analysis & Analytics",  # Assumed mapping
    "Data Science Consultant": "Data Management",  # Assumed mapping
    "AI Developer": "Artificial Intelligence (AI)",  # Duplicate mapping
    "Data Analytics Specialist": "Data Analysis & Analytics",  # Duplicate mapping
    "Business Data Analyst": "Data Analysis & Analytics",  # Duplicate mapping
    "Lead Data Engineer": "Data Engineering & Infrastructure",  # Duplicate mapping
    "BI Data Engineer": "Business Intelligence (BI)",  # Duplicate mapping
    "Data Engineer": "Data Engineering & Infrastructure",  # Duplicate mapping
    "BI Developer": "Business Intelligence (BI)",  # Duplicate mapping
    "Data Science Tech Lead": "Data Science & Machine Learning",  # Assumed mapping
    "Data Operations Engineer": "Data Engineering & Infrastructure",  # Duplicate mapping
    "BI Analyst": "Data Analysis & Analytics",  # Duplicate mapping
    "Data Science Consultant": "Data Science & Machine Learning",  # Assumed mapping
    "Data Science Lead": "Data Science & Machine Learning",  # Duplicate mapping
    "Lead Data Scientist": "Data Science & Machine Learning",  # Duplicate mapping
    "Data Scientist Lead": "Data Science & Machine Learning",  # Duplicate mapping
    "Data Operations Analyst": "Data Engineering & Infrastructure",  # Duplicate mapping
    "Marketing Data Engineer": "Data Management",  # Duplicate mapping
    "AI Programmer": "Artificial Intelligence (AI)",  # Duplicate mapping
    "Computer Vision Software Engineer": "Artificial Intelligence (AI)",  # Duplicate mapping
    "Azure Data Engineer": "Data Engineering & Infrastructure",  # Assumed mapping
    "Principal Data Architect": "Data Engineering & Infrastructure",  # Assumed mapping
    "Data Analytics Consultant": "Data Analysis & Analytics",  # Assumed mapping
    "Data Management Specialist": "Data Management",  # Duplicate mapping
    "Data Scientist": "Data Science & Machine Learning",  # Duplicate mapping
    "Data Manager": "Data Management",  # Assumed mapping
    "Data Engineering Manager": "Data Engineering & Infrastructure", #assumed mapping
    'Director of Data Engineering': "Data Engineering & Infrastructure", #assumed mapping
    "Software Data Engineer": "Data Engineering & Infrastructure",  # Duplicate mapping
    "Research Engineer": "Data Science & Machine Learning",
    "Machine Learning Engineer": "Data Science & Machine Learning",
    "Applied Data Scientist": "Data Science & Machine Learning",
    "Data Specialist": "Data Engineering & Infrastructure",
    "Principal Data Analyst": "Data Analysis & Analytics"
}

In [ ]:
top10_jobs = df['job_title'].value_counts()[:10]
# Create a bar plot for the top 10 job titles
fig = px.bar(y= top10_jobs.values, x = top10_jobs.index, 
            text = top10_jobs.values, title = 'Top 10 Jobs Designation')
fig.update_layout(xaxis_title = 'Job Designations', yaxis_title= 'Count')
fig.show()

In [ ]:
# Job titles were organized into 10 categories due to redundancies
df_mapped_jobs = df.job_title.map(lambda x: job_categories[x])
print(df_mapped_jobs.value_counts())
df_mapped_jobs.value_counts().plot(kind="bar");

In [ ]:
sns.boxplot(x=df_mapped_jobs, y='salary_in_usd', data=df)
plt.title('Salary in USD distribution by Job Title')
plt.xlabel('Job Title')
plt.ylabel('Salary in USD')
plt.xticks(rotation=45)  
#plt.tight_layout() 
plt.show()

In [ ]:
sns.boxplot(x='work_year', y='salary_in_usd', data=df)
plt.title('Salary in USD distribution by Year')
plt.xlabel('Year')
plt.ylabel('Salary in USD')
plt.xticks(rotation=45) 
plt.tight_layout()  
plt.show()

In [ ]:
df.select_dtypes("number").columns

In [ ]:
df.select_dtypes("number").nunique().sort_values(ascending=False)

In [ ]:
df.select_dtypes("object").nunique().sort_values(ascending=False)

In [ ]:
df['employee_residence'].unique()

In [ ]:
country_continent_map = {
    'ES': 'Europe',  # Spain -> Europe
    'CA': 'North America',  # Canada -> North America
    'US': 'North America',  # United States -> North America
    'DE': 'Europe',  # Germany -> Europe
    'GB': 'Europe',  # United Kingdom -> Europe
    'NG': 'Other',  # Nigeria -> Other
    'IN': 'Other',  # India -> Other
    'HK': 'Other',  # Hong Kong -> Other
    'PT': 'Europe',  # Portugal -> Europe
    'NL': 'Europe',  # Netherlands -> Europe
    'CH': 'Europe',  # Switzerland -> Europe
    'CF': 'Other',  # Central African Republic -> Other
    'FR': 'Europe',  # France -> Europe
    'AU': 'Other',  # Australia -> Other
    'FI': 'Europe',  # Finland -> Europe
    'IE': 'Europe',  # Ireland -> Europe
    'UA': 'Europe',  # Ukraine -> Europe
    'IL': 'Other',  # Israel -> Other
    'GH': 'Other',  # Ghana -> Other
    'AT': 'Europe',  # Austria -> Europe
    'CO': 'Other',  # Colombia -> Other
    'SG': 'Other',  # Singapore -> Other
    'SE': 'Europe',  # Sweden -> Europe
    'SI': 'Europe',  # Slovenia -> Europe
    'MX': 'North America',  # Mexico -> North America
    'BR': 'Other',  # Brazil -> Other
    'TH': 'Other',  # Thailand -> Other
    'HR': 'Europe',  # Croatia -> Europe
    'KW': 'Other',  # Kuwait -> Other
    'VN': 'Other',  # Vietnam -> Other
    'CY': 'Europe',  # Cyprus -> Europe
    'AR': 'Other',  # Argentina -> Other
    'AM': 'Other',  # Armenia -> Other
    'BA': 'Europe',  # Bosnia and Herzegovina -> Europe
    'KE': 'Other',  # Kenya -> Other
    'GR': 'Europe',  # Greece -> Europe
    'MK': 'Europe',  # North Macedonia -> Europe
    'LV': 'Europe',  # Latvia -> Europe
    'RO': 'Europe',  # Romania -> Europe
    'PK': 'Other',  # Pakistan -> Other
    'IT': 'Europe',  # Italy -> Europe
    'MA': 'Other',  # Morocco -> Other
    'PL': 'Europe',  # Poland -> Europe
    'LT': 'Europe',  # Lithuania -> Europe
    'AS': 'Other',  # American Samoa -> Other
    'HU': 'Europe',  # Hungary -> Europe
    'SK': 'Europe',  # Slovakia -> Europe
    'CZ': 'Europe',  # Czech Republic -> Europe
    'CR': 'North America',  # Costa Rica -> North America
    'TR': 'Other',  # Turkey -> Other
    'CL': 'Other',  # Chile -> Other
    'PR': 'North America',  # Puerto Rico -> North America
    'BO': 'Other',  # Bolivia -> Other
    'PH': 'Other',  # Philippines -> Other
    'BE': 'Europe',  # Belgium -> Europe
    'EG': 'Other',  # Egypt -> Other
    'ID': 'Other',  # Indonesia -> Other
    'AE': 'Other',  # United Arab Emirates -> Other
    'MY': 'Other',  # Malaysia -> Other
    'JP': 'Other',  # Japan -> Other
    'EE': 'Europe',  # Estonia -> Europe
    'HN': 'North America',  # Honduras -> North America
    'RU': 'Europe',  # Russia -> Europe (Note: Russia spans Europe and Asia)
    'IQ': 'Other',  # Iraq -> Other
    'BG': 'Europe',  # Bulgaria -> Europe
    'JE': 'Europe',  # Jersey -> Europe
    'RS': 'Europe',  # Serbia -> Europe
    'NZ': 'Other',  # New Zealand -> Other
    'DK': 'Europe',  # Denmark -> Europe
    'MD': 'Europe',  # Moldova -> Europe
    'LU': 'Europe',  # Luxembourg -> Europe
    'MT': 'Europe',  # Malta -> Europe
    'CN': 'Other',  # China -> Other
    'IR': 'Other',  # Iran -> Other
    'AL': 'Europe',  # Albania -> Europe
    'UZ': 'Other',  # Uzbekistan -> Other
}

In [ ]:
# Employee Residence were organized into 6 continents due to redundancies
df_mapped_e_residence = df.employee_residence.map(lambda x: country_continent_map[x])
print(df_mapped_e_residence.value_counts())
df_mapped_e_residence.value_counts().plot(kind="bar");

In [ ]:
df['company_location'].unique()

In [ ]:
# Company location were organized into 6 continents due to redundancies
df_mapped_com_location = df.company_location.map(lambda x: country_continent_map[x])
print(df_mapped_com_location.value_counts())
df_mapped_com_location.value_counts().plot(kind="bar");

In [ ]:
sorted_df = df.sort_values("salary_in_usd")
sorted_df.head(50)

In [ ]:
num_rows_under_12000 = len(df[df['salary_in_usd'] < 12000])
print("Number of rows with salary under 12000:", num_rows_under_12000)

In [ ]:
df.shape

In [ ]:
df = df.drop(df[df['salary_in_usd'] < 12000].index)

# Resetting the index
df = df.reset_index(drop=True)

# Printing the first few rows to verify the changes
sorted_df = df.sort_values("salary_in_usd")
sorted_df.head(50)

In [ ]:
df_temp1 = df

In [ ]:
columns_to_drop = ['salary', 'salary_currency', ]
df_temp1 = df_temp1.drop(columns=columns_to_drop)

In [ ]:
df_temp1['job_title'] = df_temp1['job_title'].map(job_categories)

In [ ]:
#display(df_temp1)

In [ ]:
df_temp1['employee_residence'] = df_temp1['employee_residence'].map(country_continent_map)

In [ ]:
df_temp1['company_location'] = df_temp1['company_location'].map(country_continent_map)

In [ ]:
display(df_temp1)

In [ ]:
# Separating between discrete and continuous variables, as discrete ones could potentially be treated as categorical.
# Remember to adjust the threshold (in this case, < 100) based on your dataset specific characteristics and comain knowledge
potential_categorical_from_numerical = df_temp1.select_dtypes("number").loc[:,df_temp1.select_dtypes("number").nunique() < 100]
#potential_categorical_from_numerical

In [ ]:
# Extracting columns iwth object (typically string) data types to create a categorical df
# For demonstration purposes, let's consider the columns in the potential_categorical_from_numerical as categorical variables
df_categorical = pd.concat([df_temp1.select_dtypes("object"), potential_categorical_from_numerical], axis = 1)

# Adjusting the numerical dataframe by removing the moved columns
df_numerical = df_temp1.select_dtypes("number").drop(columns = potential_categorical_from_numerical.columns)

In [ ]:
# Verify that the total number of columns in the dataframe is the sum of object and numerical columns
len(df.columns) == len(df.select_dtypes("object").columns) + len(df.select_dtypes("number").columns)

In [ ]:
#df_numerical.nunique().sort_values(ascending = False)

In [ ]:
df_categorical.nunique().sort_values(ascending = False)

In [ ]:
# Separating between discrete and continuous variables, as discrete ones could potentially be treated as categorical.
# Remember to adjust the threshold (in this case, < 100) based on your dataset specific characteristics and comain knowledge
potential_categorical_from_numerical = df_temp1.select_dtypes("number").loc[:,df_temp1.select_dtypes("number").nunique() < 100]
#potential_categorical_from_numerical

# Extracting columns iwth object (typically string) data types to create a categorical df
# For demonstration purposes, let's consider the columns in the potential_categorical_from_numerical as categorical variables
df_categorical = pd.concat([df_temp1.select_dtypes("object"), potential_categorical_from_numerical], axis = 1)

# Adjusting the numerical dataframe by removing the moved columns
df_numerical = df_temp1.select_dtypes("number").drop(columns = potential_categorical_from_numerical.columns)

# Verify that the total number of columns in the dataframe is the sum of object and numerical columns
len(df.columns) == len(df.select_dtypes("object").columns) + len(df.select_dtypes("number").columns)

In [ ]:
df_temp1.head(10)

In [ ]:
df_categorical.nunique().sort_values(ascending = False)

In [ ]:
df_categorical.dtypes

In [ ]:
def print_unique_values_with_count_sorted(df):
    categorical_columns = df.select_dtypes(include=['object', 'category']).columns
    
    for col in categorical_columns:
        value_counts = df[col].value_counts()
        sorted_values = value_counts.sort_values(ascending=False).index.tolist()
        
        print(f"Unique values for column '{col}' (sorted by count in descending order):")
        for val in sorted_values:
            count = value_counts[val]
            print(f" - {val}: {count} occurrences")
        print()

In [ ]:
print_unique_values_with_count_sorted(df_categorical)

In [ ]:
#df.remote_ratio

In [ ]:
my_table = pd.crosstab(index = df_categorical['company_size'], columns="count")

my_table

In [ ]:
# Generating a crosstab for 'company_location' and 'employee_residence'
crosstab_result = pd.crosstab(df_temp1['employee_residence'], df_temp1['company_location'])

crosstab_result

In [ ]:
# Generating a crosstab for 'work_year' and 'company_location'
crosstab_result = pd.crosstab(df_temp1['work_year'], df_temp1['company_location'])

crosstab_result

In [ ]:
# Generating a crosstab for 'company_location' and 'remote_ratio'
crosstab_result = pd.crosstab(df_temp1['company_location'], df_temp1['remote_ratio'])

crosstab_result

In [ ]:
sns.displot(data=df_temp1, x="company_size", kde=True)

In [ ]:
sns.histplot(df_temp1['salary_in_usd'], bins=4, kde=True)
plt.title('Salary Distribution')
plt.xlabel('Salary in USD')
plt.ylabel('Frequency')
plt.show()

In [ ]:
def tukeys_test_outliers(data):
    Q1 = data.quantile(0.25)
    Q3 = data.quantile(0.75)
    IQR = Q3 - Q1
    
    # Define bounds for the outliers
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Identify the outliers
    outliers = data[(data < lower_bound) | (data > upper_bound)]
    
    return outliers

In [ ]:
def replace_outliers_w_whisker(series):
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1
    
    lower_whisker = Q1 - (1.5 * IQR)
    upper_whisker = Q3 + (1.5 * IQR)
    
    # Replace outliers with upper whisker if above Q3
    series[series > upper_whisker] = upper_whisker
    
    # Replace outliers with lower whisker if below Q1
    series[series < lower_whisker] = lower_whisker
    
    return series

In [ ]:
df_temp1['salary_in_usd'] = replace_outliers_w_whisker(df_temp1['salary_in_usd'])

In [ ]:
def replace_outliers_w_median(series):
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    median = series.median()
    
    # Replace values greater than Q3 with median
    series[series > Q3] = median
    
    # Replace values lower than Q1 with median
    series[series < Q1] = median
    
    return series

In [ ]:
df_temp2 = df_temp1.copy()  # Make a copy of df_temp1

In [ ]:
df_temp2['salary_in_usd'] = replace_outliers_w_median(df_temp2['salary_in_usd'])

In [ ]:
#df_temp2['salary_in_usd'] = replace_outliers_w_whisker(df_temp2['salary_in_usd'])

In [ ]:
sns.boxplot(x='salary_in_usd', data=df_temp2)
plt.title('Salary in USD distribution')
plt.xlabel('Salary in USD')
plt.show()

In [ ]:
salary_series = df_temp2['salary_in_usd']
outliers = tukeys_test_outliers(salary_series)
print(outliers)
df_temp1.iloc[~outliers.index,:]

In [ ]:
df_temp1['salary_in_usd'].nunique()

In [ ]:
new_df = df_temp1

In [ ]:
#df_temp1.head()

In [ ]:
new_df.columns

In [ ]:
new_order = ['work_year', 'experience_level', 'job_title',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size', 'salary_in_usd']

In [ ]:
new_df = new_df[new_order]

In [ ]:
new_df

In [ ]:
sns.boxplot(x=df_mapped_jobs, y='salary_in_usd', data=new_df)
plt.title('Salary in USD distribution by Job Title')
plt.xlabel('Job Title')
plt.ylabel('Salary in USD')
plt.xticks(rotation=45)  
#plt.tight_layout() 
plt.show()

In [ ]:
sns.boxplot(x='experience_level', y='salary_in_usd', data=new_df)
plt.title('Salary in USD distribution by Job Title')
plt.xlabel('Job Title')
plt.ylabel('Salary in USD')
plt.xticks(rotation=45)  
#plt.tight_layout() 
plt.show()

In [ ]:
sns.boxplot(x='experience_level', y='salary_in_usd', data=new_df)
plt.title('Salary in USD distribution by Job Title')
plt.xlabel('Job Title')
plt.ylabel('Salary in USD')
plt.xticks(rotation=45)  
#plt.tight_layout() 
plt.show()

In [ ]:
#new_df.to_csv("my_df.csv", index=False)

In [ ]:
america_df.drop(columns=['employee_residence', 'company_location', 'salary', 'salary_currency'], inplace=True)

In [ ]:
america_df.drop(columns='employment_type', inplace=True)

In [ ]:
america_df.columns

In [ ]:
new_order = ['work_year', 'experience_level', 'job_title',
             'remote_ratio', 'company_size', 'salary_in_usd']

In [ ]:
america_df = america_df[new_order]

In [ ]:
america_df['job_title'] = america_df['job_title'].map(job_categories)

In [ ]:
df_temp2 = df_temp2[new_order]

In [ ]:
#df_temp2.head()

In [ ]:
en_median_salary = america_df[america_df['experience_level'] == 'EN']['salary_in_usd'].median()
en_median_salary

In [ ]:
indexes_en = america_df[(america_df['experience_level'] == 'EN') & (america_df['salary_in_usd'] > 240000)].index
indexes_en

In [ ]:
#america_df.loc[indexes_en, 'salary_in_usd'] = en_median_salary

In [ ]:
america_df.drop(indexes_en, inplace=True)
america_df.reset_index(drop=True, inplace=True)

In [ ]:
mi_median_salary = america_df[america_df['experience_level'] == 'MI']['salary_in_usd'].median()
mi_median_salary

In [ ]:
indexes_mi = america_df[(america_df['experience_level'] == 'MI') & (america_df['salary_in_usd'] > 260000)].index
indexes_mi

In [ ]:
america_df.drop(indexes_mi, inplace=True)
america_df.reset_index(drop=True, inplace=True)

In [ ]:
sns.boxplot(x='experience_level', y='salary_in_usd', data=america_df)
plt.title('Salary in USD distribution by Job Title')
plt.xlabel('Job Title')
plt.ylabel('Salary in USD')
plt.xticks(rotation=45)  
#plt.tight_layout() 
plt.show()

In [ ]:
outlier_index = america_df[(america_df['experience_level'] == 'EX') & (america_df['salary_in_usd'] > 500000)].index
outlier_index

In [ ]:
america_df.drop(outlier_index, inplace=True)
america_df.reset_index(drop=True, inplace=True)

In [ ]:
#america_df.loc[outlier_index, 'salary_in_usd'] = ex_median_salary

In [ ]:
sns.boxplot(x='experience_level', y='salary_in_usd', data=america_df)
plt.title('Salary in USD distribution by Job Title')
plt.xlabel('Job Title')
plt.ylabel('Salary in USD')
plt.xticks(rotation=45)  
#plt.tight_layout() 
plt.show()

In [ ]:
new_df.to_csv("my_df.csv")

In [ ]:
america_df.to_csv("america_df.csv")

In [ ]:
america_df['job_title'] = america_df['job_title'].map(job_categories)

In [ ]:
america_df.job_title.value_counts()

In [ ]:
sns.boxplot(x=df_mapped_jobs, y='salary_in_usd', data=america_df)
plt.title('Salary in USD distribution by Job Title')
plt.xlabel('Job Title')
plt.ylabel('Salary in USD')
plt.xticks(rotation=45)  
#plt.tight_layout() 
plt.show()

In [ ]:
new_outlier_index = america_df[(america_df['job_title'] == 'Data Analysis & Analytics') & (america_df['salary_in_usd'] > 350000)].index
new_outlier_index

In [ ]:
data_analyst_median_salary = america_df[america_df['job_title'] == 'Data Analysis & Analytics']['salary_in_usd'].median()
data_analyst_median_salary

In [ ]:
america_df.drop(new_outlier_index, inplace=True)
america_df.reset_index(drop=True, inplace=True)

In [ ]:
america_df.shape

# Pipeline

In [ ]:
# X = features contains the input features (all columns except 'salary_in_usd')
X = new_df.drop('salary_in_usd', axis=1)
# y = the target variable ('salary_in_usd')
y = new_df['salary_in_usd']

In [ ]:
# X = features contains the input features (all columns except 'salary_in_usd')
X = america_df.drop('salary_in_usd', axis=1)
# y = the target variable ('salary_in_usd')
y = america_df['salary_in_usd']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#categorical_columns = ['work_year', 'experience_level', 'job_title', 'employee_residence', 'remote_ratio', 'company_location','company_size']

In [ ]:
categorical_columns = ['work_year', 'experience_level', 'job_title', 'remote_ratio', 'company_size']

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='error', sparse_output=False), categorical_columns)
    ])

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=100, random_state=42)

In [ ]:
from sklearn.preprocessing import PowerTransformer
from sklearn.pipeline import Pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('scaler', PowerTransformer()),
                           ('regressor', regressor)])

In [ ]:
pipeline.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import mean_squared_error
predictions_pipeline_train = pipeline.predict(X_train)

In [ ]:
from sklearn.metrics import mean_absolute_error
mae_pipeline_train = mean_absolute_error(y_train, predictions_pipeline_train)
print("Pipeline Mean Absolute Error (train):", mae_pipeline_train)

In [ ]:
mse_pipeline_train = mean_squared_error(y_train, predictions_pipeline_train)  
print("Pipeline Mean Squared Error (train):", mse_pipeline_train)

In [ ]:
rmse_pipeline_train = np.sqrt(mse_pipeline_train)
print("Pipeline Root Mean Squared Error (train): ", rmse_pipeline_train)

In [ ]:
from sklearn.metrics import r2_score
r_squared_pipeline_train = r2_score(y_train, predictions_pipeline_train)
print("Pipeline R-Squared (train): ", r_squared_pipeline_train)

In [ ]:
absolute_percentage_errors_pipeline_train = np.abs((y_train - predictions_pipeline_train) / y_train)
mean_absolute_percentage_error_pipeline_train = np.mean(absolute_percentage_errors_pipeline_train) * 100

In [ ]:
print("Pipeline Mean Absolute Percentage Error (MAPE)(train): {:.2f}%".format(mean_absolute_percentage_error_pipeline_train))

In [ ]:
predictions_pipeline_test = pipeline.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error
# predictions_pipeline_test = pipeline.predict(X_test)
mae_pipeline_test = mean_absolute_error(y_test, predictions_pipeline_test)
print("Pipeline Mean Absolute Error:", mae_pipeline_test)

In [ ]:
from sklearn.metrics import mean_squared_error
mse_pipeline_test = mean_squared_error(y_test, predictions_pipeline_test)  
print("Pipeline Mean Squared Error (test):", mse_pipeline_test)

In [ ]:
rmse_pipeline_test = np.sqrt(mse_pipeline_test)
print("Pipeline Root Mean Squared Error (test): ", rmse_pipeline_test)

In [ ]:
from sklearn.metrics import r2_score
r_squared_pipeline_test = r2_score(y_test, predictions_pipeline_test)
print("Pipeline R-Squared (test): ", r_squared_pipeline_test)

In [ ]:
absolute_percentage_errors_pipeline_test = np.abs((y_test - predictions_pipeline_test) / y_test)
mean_absolute_percentage_error_pipeline_test = np.mean(absolute_percentage_errors_pipeline_test) * 100

In [ ]:
print("Pipeline Mean Absolute Percentage Error (MAPE)(test): {:.2f}%".format(mean_absolute_percentage_error_pipeline_test))

In [ ]:
job_titles = X.loc[y_train.index, 'job_title']

In [ ]:
# Create the scatter plot
plt.figure(figsize=(10, 6))
sns.scatterplot(x=predictions_pipeline_train, y=y_train, hue=job_titles)

sns.regplot(x=predictions_pipeline_train, y=y_train, scatter=False, color='black')

# Add labels and title
plt.xlabel('Predicted Values')
plt.ylabel('Actual Values')
plt.title('Scatter Plot of Predicted vs Actual Values')

# Show plot
plt.show()

In [ ]:
job_titles = X.loc[y_test.index, 'job_title']

In [ ]:
# Create the scatter plot
plt.figure(figsize=(10, 6))
sns.scatterplot(x=predictions_pipeline_test, y=y_test, hue=job_titles)

sns.regplot(x=predictions_pipeline_test, y=y_test, scatter=False, color='black')

# Add labels and title
plt.xlabel('Predicted Values')
plt.ylabel('Actual Values')
plt.title('Scatter Plot of Predicted vs Actual Values')

# Show plot
plt.show()

In [ ]:
from sklearn.tree import DecisionTreeRegressor
X = america_df.drop('salary_in_usd', axis=1)
y = america_df['salary_in_usd']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

categorical_columns = ['work_year', 'experience_level', 'job_title', 'remote_ratio', 'company_size']

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='error', sparse_output=False), categorical_columns)
    ])

from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=42)  # Using DecisionTreeRegressor instead

from sklearn.preprocessing import PowerTransformer
from sklearn.pipeline import Pipeline

pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('scaler', PowerTransformer()),
                           ('regressor', regressor)])

pipeline.fit(X_train, y_train)

In [ ]:
predictions_pipeline_test = pipeline.predict(X_test)

In [ ]:
mae_pipeline_test = mean_absolute_error(y_test, predictions_pipeline_test)
print("Pipeline Mean Absolute Error:", mae_pipeline_test)

In [ ]:
# Create the scatter plot
plt.figure(figsize=(10, 6))
sns.scatterplot(x=predictions_pipeline_test, y=y_test, hue=job_titles)

sns.regplot(x=predictions_pipeline_test, y=y_test, scatter=False, color='black')

# Add labels and title
plt.xlabel('Predicted Values')
plt.ylabel('Actual Values')
plt.title('Scatter Plot of Predicted vs Actual Values')

# Show plot
plt.show()

# Linear Regression

In [ ]:
# X = features contains the input features (all columns except 'salary_in_usd')
X = new_df.drop('salary_in_usd', axis=1)
# y = the target variable ('salary_in_usd')
y = new_df['salary_in_usd']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
categorical_columns = ['work_year', 'experience_level', 'job_title', 'employee_residence', 'remote_ratio', 'company_location','company_size']

In [ ]:
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='error', sparse_output=False), categorical_columns)
    ])

In [ ]:
from sklearn.linear_model import LinearRegression
linear_regressor = LinearRegression()

In [ ]:
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('scaler', PowerTransformer()),
                           ('regressor', linear_regressor)])

In [ ]:
pipeline.fit(X_train, y_train)

In [ ]:
predictions_pipeline_test = pipeline.predict(X_test)
mae_pipeline_test = mean_absolute_error(y_test, predictions_pipeline_test)
print("Pipeline Mean Absolute Error:", mae_pipeline_test)

In [ ]:
mse_pipeline_test = mean_squared_error(y_test, predictions_pipeline_test)  
print("Pipeline Mean Squared Error (test):", mse_pipeline_test)

In [ ]:
rmse_pipeline_test = np.sqrt(mse_pipeline_test)
print("Pipeline Root Mean Squared Error (from test): ", rmse_pipeline_test)

In [ ]:
from sklearn.metrics import r2_score
r_squared_pipeline_test = r2_score(y_test, predictions_pipeline_test)
print("Pipeline R-Squared (from test): ", r_squared_pipeline_test)

In [ ]:
absolute_percentage_errors_pipeline_test = np.abs((y_test - predictions_pipeline_test) / y_test)
mean_absolute_percentage_error_pipeline_test = np.mean(absolute_percentage_errors_pipeline_test) * 100

In [ ]:
print("Pipeline Mean Absolute Percentage Error (MAPE)(from train): {:.2f}%".format(mean_absolute_percentage_error_pipeline_test))

In [ ]:
job_titles = X.loc[y_test.index, 'job_title']

In [ ]:
# Create the scatter plot
plt.figure(figsize=(10, 6))
sns.scatterplot(x=predictions_pipeline_test, y=y_test, hue=job_titles)

sns.regplot(x=predictions_pipeline_test, y=y_test, scatter=False, color='black')

# Add labels and title
plt.xlabel('Predicted Values')
plt.ylabel('Actual Values')
plt.title('Scatter Plot of Predicted vs Actual Values')

# Show plot
plt.show()

In [ ]:
mae_pipeline_train = mean_absolute_error(y_train, predictions_pipeline_train)
print("Pipeline Mean Absolute Error (train):", mae_pipeline_train)

In [ ]:
mse_pipeline_train = mean_squared_error(y_train, predictions_pipeline_train)  
print("Pipeline Mean Squared Error (train):", mse_pipeline_train)

In [ ]:
rmse_pipeline_train = np.sqrt(mse_pipeline_train)
print("Pipeline Root Mean Squared Error (train): ", rmse_pipeline_train)

In [ ]:
r_squared_pipeline_train = r2_score(y_train, predictions_pipeline_train)
print("Pipeline R-Squared (train): ", r_squared_pipeline_train)

In [ ]:
absolute_percentage_errors_pipeline_train = np.abs((y_train - predictions_pipeline_train) / y_train)
mean_absolute_percentage_error_pipeline_train = np.mean(absolute_percentage_errors_pipeline_train) * 100

In [ ]:
print("Pipeline Mean Absolute Percentage Error (MAPE)(train): {:.2f}%".format(mean_absolute_percentage_error_pipeline_train))

In [ ]:
job_titles = X.loc[y_train.index, 'job_title']

In [ ]:
# Create the scatter plot
plt.figure(figsize=(10, 6))
sns.scatterplot(x=predictions_pipeline_train, y=y_train, hue=job_titles)

sns.regplot(x=predictions_pipeline_train, y=y_train, scatter=False, color='black')

# Add labels and title
plt.xlabel('Predicted Values')
plt.ylabel('Actual Values')
plt.title('Scatter Plot of Predicted vs Actual Values')

# Show plot
plt.show()

In [ ]:
# X = features contains the input features (all columns except 'salary_in_usd')
X = new_df.drop('salary_in_usd', axis=1)
# y = the target variable ('salary_in_usd')
y = new_df['salary_in_usd']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knn_regressor = KNeighborsRegressor()

In [ ]:
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('scaler', PowerTransformer()),
    ('regressor', knn_regressor)
])

In [ ]:
pipeline.fit(X_train, y_train)

In [ ]:
predictions_pipeline_test = pipeline.predict(X_test)
mae_pipeline_test = mean_absolute_error(y_test, predictions_pipeline_test)
print("Pipeline Mean Absolute Error:", mae_pipeline_test)

In [ ]:
mse_pipeline_test = mean_squared_error(y_test, predictions_pipeline_test)  
print("Pipeline Mean Squared Error (test):", mse_pipeline_test)

In [ ]:
rmse_pipeline_test = np.sqrt(mse_pipeline_test)
print("Pipeline Root Mean Squared Error (from test): ", rmse_pipeline_test)

In [ ]:
from sklearn.metrics import r2_score
r_squared_pipeline_test = r2_score(y_test, predictions_pipeline_test)
print("Pipeline R-Squared (from test): ", r_squared_pipeline_test)

In [ ]:
absolute_percentage_errors_pipeline_test = np.abs((y_test - predictions_pipeline_test) / y_test)
mean_absolute_percentage_error_pipeline_test = np.mean(absolute_percentage_errors_pipeline_test) * 100

In [ ]:
print("Pipeline Mean Absolute Percentage Error (MAPE)(from train): {:.2f}%".format(mean_absolute_percentage_error_pipeline_test))

In [ ]:
job_titles = X.loc[y_test.index, 'job_title']

In [ ]:
# Create the scatter plot
plt.figure(figsize=(10, 6))
sns.scatterplot(x=predictions_pipeline_test, y=y_test, hue=job_titles)

sns.regplot(x=predictions_pipeline_test, y=y_test, scatter=False, color='black')

# Add labels and title
plt.xlabel('Predicted Values')
plt.ylabel('Actual Values')
plt.title('Scatter Plot of Predicted vs Actual Values')

# Show plot
plt.show()

In [ ]:
# X = features contains the input features (all columns except 'salary_in_usd')
#X = df_temp2.drop('salary_in_usd', axis=1)
# y = the target variable ('salary_in_usd')
#y = df_temp2['salary_in_usd']

In [ ]:
#from sklearn.model_selection import train_test_split

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#from sklearn.preprocessing import OneHotEncoder
#from sklearn.compose import ColumnTransformer

#preprocessor = ColumnTransformer(
#    transformers=[
#        ('cat', OneHotEncoder(handle_unknown='error', sparse_output=False), categorical_columns)
#    ])

In [ ]:
#from sklearn.ensemble import RandomForestRegressor
#regressor = RandomForestRegressor(n_estimators=100, random_state=42)

In [ ]:
#from sklearn.preprocessing import PowerTransformer
#from sklearn.pipeline import Pipeline
#pipeline = Pipeline(steps=[('preprocessor', preprocessor),
#                           ('scaler', PowerTransformer()),
#                           ('regressor', regressor)])

In [ ]:
#pipeline.fit(X_train, y_train)

In [ ]:
#predictions_pipeline_test = pipeline.predict(X_test)

In [ ]:
#from sklearn.metrics import mean_absolute_error
# predictions_pipeline_test = pipeline.predict(X_test)
#mae_pipeline_test = mean_absolute_error(y_test, predictions_pipeline_test)
#print("Pipeline Mean Absolute Error:", mae_pipeline_test)

In [ ]:
#mse_pipeline_test = mean_squared_error(y_test, predictions_pipeline_test)  
#print("Pipeline Mean Squared Error (test):", mse_pipeline_test)

In [ ]:
#rmse_pipeline_test = np.sqrt(mse_pipeline_test)
#print("Pipeline Root Mean Squared Error (test): ", rmse_pipeline_test)

In [ ]:
#from sklearn.metrics import r2_score
#r_squared_pipeline_test = r2_score(y_test, predictions_pipeline_test)
#print("Pipeline R-Squared (test): ", r_squared_pipeline_test)

In [ ]:
#absolute_percentage_errors_pipeline_test = np.abs((y_test - predictions_pipeline_test) / y_test)
#mean_absolute_percentage_error_pipeline_test = np.mean(absolute_percentage_errors_pipeline_test) * 100

In [ ]:
#print("Pipeline Mean Absolute Percentage Error (MAPE)(test): {:.2f}%".format(mean_absolute_percentage_error_pipeline_test))

In [ ]:
#job_titles = X.loc[y_test.index, 'job_title']

In [ ]:
# Create the scatter plot
#plt.figure(figsize=(10, 6))
#sns.scatterplot(x=predictions_pipeline_test, y=y_test, hue=job_titles)

#sns.regplot(x=predictions_pipeline_test, y=y_test, scatter=False, color='black')

# Add labels and title
#plt.xlabel('Predicted Values')
#plt.ylabel('Actual Values')
#plt.title('Scatter Plot of Predicted vs Actual Values')

# Show plot
#plt.show()

In [ ]:
#df_temp2.to_csv("final_project_data.csv")